<div class="card card-body mb-3">
  <h2>Add User</h2>

  <form #userForm="ngForm">
    <div class="form-group" *ngIf="userFormUser">

      <label>First Name</label>
      <input 
        name="firstName" 
        type="text" 
        [(ngModel)]="userFormUser.firstName" 
        class="form-control" 
        #firstName="ngModel"
        minlength="5"
        [ngClass]="{'is-invalid':firstName.errors && firstName.touched}"
        >
      <div [hidden]="!firstName.errors || !firstName.touched" class="invalid-feedback">Required field</div>

      <label>Last Name</label>
      <input name="lastName" type="text" [(ngModel)]="userFormUser.lastName" class="form-control" 
        #lastName="ngModel"
        minlength="5"
        [ngClass]="{'is-invalid':lastName.errors && lastName.touched}">
      <div [hidden]="!lastName.errors || !lastName.touched" class="invalid-feedback">Required field</div>

      <label>NPI Number</label>
      <input name="npiNumber" type="number" [(ngModel)]="userFormUser.npiNumber" class="form-control" #npiNumber="ngModel"
        minlength="4"
        [ngClass]="{'is-invalid':npiNumber.errors && npiNumber.touched}">
      <div [hidden]="!npiNumber.errors || !npiNumber.touched" class="invalid-feedback">Required field (only numbers and at least 4 digits)</div>

      <label>email</label>
      <input name="email" type="email" [(ngModel)]="userFormUser.email" class="form-control" #email="ngModel"
        minlength="7" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
        [ngClass]="{'is-invalid':email.errors && email.touched}">
      <div [hidden]="!email.errors?.minlength || !email.touched" class="invalid-feedback">At least 7 characters</div>
      <div [hidden]="!email.errors?.pattern || !email.touched" class="invalid-feedback">Invalid email</div>


      <label>phone</label>
      <input name="phone" type="tel" [(ngModel)]="userFormUser.phone" class="form-control" #phone="ngModel"
        required minlength="10" pattern="[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\./0-9]*" [ngClass]="{'is-invalid':phone.errors && phone.touched}">
      <div [hidden]="!phone.errors?.minlength || !phone.touched" class="invalid-feedback">Requied field (minumum of 10 numbers)</div>
      <div [hidden]="!phone.errors?.pattern|| !phone.touched" class="invalid-feedback">Invalid phone number</div>

      <label>Business Address</label>
      <input name="address" type="text" [(ngModel)]="userFormUser.businessAddress" class="form-control" #address="ngModel"
        required minlength="10" required [ngClass]="{'is-invalid':address.errors && address.touched}">
      <div [hidden]="!address.errors || !address.touched" class="invalid-feedback">Requied field (minimum of 10 characters)</div>

        <div class="row mt-5">
          <div class="col-sm">
            <button (click)="addNewUser.emit(userFormUser)" type="button" class="btn btn-info" [disabled]="!userForm.form.valid || !firstName.touched || !lastName.touched||!npiNumber.touched||!email.touched||!phone.touched||((address.dirty||address.touched) && address.errors)" >Add User</button>
          </div>
          <div class="col-sm">
            <button (click)="cancelAddUser.emit($event)" type="button" class="btn btn-info mr-3">Cancel</button>
          </div>
        </div>
      
    </div>
  </form>
</div>
