<div class="card card-body mb-3 mt-3 border-warning w-50">
  <h5>{{messageToDisplay}}</h5>
  <div class="row">
    <div class="col-lg w-80"></div>
    <div class="col-sm-auto">
      <button type="button" (click)="DisplayMessage.emit('done')" class="btn btn-sm btn-secondary">Done</button>
    </div>
  </div>
</div>
