<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar-brand">
    <h2>Availity</h2>
  </div>
</nav>

<div class="container" *ngIf="showNotification">
  <app-notification [messageToDisplay]="currentMessage" (DisplayMessage)="handleMessage($event)" ></app-notification>
</div>

<!-- Top Menu -->
<div class="row mt-3 mb-3">
  <div class="col-sm-auto btn-group" role="group">
    <button type="button" (click)="notImplemented()" [ngClass]="{'btn btn-secondary btn-info':enabledLogin,'btn btn-secondary btn-secondary':!enabledLogin}">Login</button>
    <button type="button" (click)="notImplemented()" [ngClass]="{'btn btn-secondary btn-info':enabledList,'btn btn-secondary btn-secondary':!enabledList}">List Users</button>
    <button type="button" (click)="processAddUser()" [ngClass]="{'btn btn-secondary btn-info':enabledAdd,'btn btn-secondary btn-secondary':!enabledAdd}">Add User</button>
    <button type="button" (click)="notImplemented()" [ngClass]="{'btn btn-secondary btn-info':enabledFind,'btn btn-secondary btn-secondary':!enabledFind}">Find User</button>
    <button type="button" (click)="notImplemented()" [ngClass]="{'btn btn-secondary btn-info':enabledLogout,'btn btn-secondary btn-secondary':!enabledLogout}"
      [class]="" >Logout</button>
  </div>
  <div class="col-md-auto">
  </div>
  <div class="col-md-auto"></div>
</div>

<div class="container" *ngIf="showUser">
  <app-userform (addNewUser)="addNewUser($event)" (cancelAddUser)="cancelUserForm($event)" [userFormUser]="userFormUser"></app-userform>
</div>
